* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.udemy {
  display: flex;
  font-family: "Quicksand", sans-serif;
  width: 100%;
}

.top_bar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  position: absolute;
  width: 100%;
}

.top_bar_container {
  justify-content: flex-end;
  background: #eceb98;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 10px;
}

.top_bar_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.timer-container {
  text-align: center;
}

.top_bar_content {
  display: flex;
  width: 100%;
  justify-content: center;
}
.top_bar,
.udemy_categories {
  width: 100%;
}

.udemy_categories {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  padding: 30px;
}

.categories_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories_container img {
  margin-top: 10px;
  height: 50px;
  vertical-align: middle;
  margin-right: 1rem;
  margin-left: 10px;
}

.search-container {
  display: flex;
  align-items: center;

  margin-top: 20px;
}

.search {
  width: 700px;

  height: 3.5rem;
  border: 1px solid #1c1d1f;
  border-radius: 9999px;
  background-color: #f7f9fa;
  padding: 0 2.4rem;
  font-size: 1.2rem;
}

nav {
  text-align: center;
  padding: 40px 0 0;
  margin-bottom: 15px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  display: block;
  color: #222;
}

.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  position: relative;
  padding: 10px 15px;

  font-size: 1em;
  line-height: 1;
  letter-spacing: 3px;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
  right: 0;
}
.topmenu > li > a:before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: 0.3s;
}
.topmenu li:hover a:before {
  transform: translate(-50%, 0);
  opacity: 1;
}
.submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 100%;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: 0.3s;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
.submenu a {
  font-size: 11px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: 0.3s linear;
}
.submenu a:hover {
  background: #e8e8e8;
}

.down:hover {
  color: #ad33ff;
}

.udemy-business topmenu {
  margin-right: 50px;
}
.submenu.udemy-business {
  width: 300px;
  padding: 20px;
}

.large-square-button {
  margin-top: 15px;
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.learning_type li:hover ul {
  width: 220px;
  padding: 10px;
}

.learning_type li ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.learning_type img {
  margin-bottom: 10px;
}
.learning_type li ul li img {
  width: 50px;
}

.learning_type li ul li a {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9e4e4;
}

.learning_type li ul li p {
  margin: 0;
  margin-left: 10px;
}

.button {
  margin-top: 15px;
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  border: none;

  color: #fff;
  cursor: pointer;
}

.submenu.udemy-business li.notification-content {
  display: flex;
  flex-direction: column;
}

.submenu.udemy-business .notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submenu.udemy-business h1 {
  margin: 0;
}
.submenu.udemy-business a {
  color: #ad33ff;
}

.submenu.udemy-business .settings-link {
  display: block;
  padding: 5px 20px;
  font-size: 15px;
  letter-spacing: 1px;
  transition: 0.3s linear;
}

.submenu.udemy-business p {
  margin: 0;
  margin-bottom: 10px;
}

.submenu.udemy_business {
  width: 350px;
  padding: 20px;
}

.submenu.udemy_business li.notification_content {
  display: flex;
  flex-direction: column;
}

.submenu.udemy_business .notification_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submenu.udemy_business h1 {
  margin: 0;
  font-size: 20px;
}

.submenu.udemy_business .settings_link {
  display: block;
  padding: 5px 20px;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s linear;
  color: #ad33ff;
  font-weight: bold;
}

.submenu.udemy_business p {
  margin: 0;
  margin-top: 20px;
}

.topmenu > li > a:hover i.fa-xl {
  color: #ad33ff !important;
}

.profile {
  cursor: pointer;
  margin-left: 20px;
}
.profile .submenu {
  width: 300px;
  position: absolute;
  right: 0;
}
.vertical_submenu {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  cursor: pointer;
  width: 100px;
}

.submenu .group {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-left: 15px;
}
.profile .submenu {
  width: 300px;
}

.submenu li {
  margin-bottom: 5px;
}

.submenu a {
  text-decoration: none;
  color: #222;
  font-size: 14px;
  padding: 5px 0;
  display: block;
}

.pro_button,
.fa-arrow-right-from-bracket {
  font-size: 18px;
  color: #030303;
  margin-top: 10px;
  background-color: transparent;
  border: none;
}

.profile :hover {
  color: #ad33ff;
}

.main_content {
  display: flex;
  flex-direction: column;
  background-color: #323131;
  padding: 20px;
  color: #fff;
  display: flex;
  position: absolute;
  width: 100%;
  height: 300px;
  justify-content: center;
  margin-top: 210px;
  padding-left: 250px;
}

.main_ul {
  list-style: none;
  display: flex;
  gap: 10px;
  color: rgb(140, 140, 204);
  margin-top: 20px;
  margin-bottom: 20px;
}
.main_ul li {
  margin-right: 10px;
}
.main_ul li:last-child {
  margin-right: 0;
}
.main_ul a {
  text-decoration: none;
  color: inherit;
}

.main_content h1 {
  margin-bottom: 5px;
}

.main_content p {
  margin-bottom: 10px;
  margin-top: 10px;
}

.side_bar_container {
  z-index: 1;
  border-bottom: 1px solid #d1d7dc;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;

  height: 650px;
  width: 250px;
  margin: 0;
  margin-top: 250px;
  margin-left: 1300px;
  padding: 20px;
}

.side_bar_container img {
  height: 200px;
  width: 250px;
  margin-top: -20px;
}

.side_bar_container h3 {
  position: relative;
  margin-top: 10px;
  text-align: center;
}

.side_bar_container p {
  font-size: 0.7rem;
  margin-top: 10px;
}

.side_bar_container h4 {
  margin-top: 30px;
}

.side_bar_container ul {
  margin-top: 10px;
}

.side_bar_menu li {
  margin-bottom: 10px;
}

.learn_box {
  margin-top: 330px;
  display: flex;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 10px;
  flex-direction: column;
  padding: 20px 1px;
  width: 100%;
  border: 1px solid rgb(131, 129, 129);
  justify-content: center;
  max-width: 40%;
  margin-left: 300px;
  padding: 30px;
}

.learn_box h1 {
  font-weight: bold;
}

.columns {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.column {
  flex: 1;
  padding: 0 10px;
}

.column li {
  margin: 10px 0;
}

.coding {
  display: flex;
  font-family: "Quicksand", sans-serif;
  padding: 20px 1px;
  background-color: #f7f9fa;
  max-width: 40%;
  margin-left: 300px;
  padding: 30px;
  margin-top: 30px;
  position: relative;
  flex-direction: column;
}

.coding img {
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-top: -170px;
}

.coding p {
  margin-top: 20px;
}

.coding button {
  background-color: transparent;
  color: #ad33ff;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 50px;

  margin-right: 500px;
}

.course_content {
  display: flex;
  font-family: "Quicksand", sans-serif;
  padding: 20px 1px;
  background-color: #f7f9fa;
  max-width: 40%;
  margin-left: 300px;
  padding: 30px;
  margin-top: 30px;
  position: relative;
  flex-direction: column;
  height: 100%;
}

.course_content p {
  margin-top: 20px;
}

.course_content button {
  background-color: transparent;
  color: #ad33ff;
  border: none;
  margin-top: -20px;
  margin-right: -500px;
}
