* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.udemy {
  display: flex;
  font-family: "Quicksand", sans-serif;
}

.top_bar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  position: absolute;
  width: 100%;
}

.top_bar_container {
  justify-content: flex-end;
  background: #eceb98;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  padding: 10px;
}

.top_bar_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.timer-container {
  text-align: center;
}

.top_bar_content {
  display: flex;
  justify-content: space-between;
}

.udemy_categories {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  padding: 30px;
}

.categories_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories_container img {
  margin-top: 10px;
  height: 50px;
  vertical-align: middle;
  margin-right: 1rem;
  margin-left: 10px;
}

.search-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.search {
  margin-left: 15px;
  width: 700px;
  height: 3.5rem;
  border: 1px solid #1c1d1f;
  border-radius: 9999px;
  background-color: #f7f9fa;
  padding: 0 2.4rem;
  font-size: 1.2rem;
}

nav {
  text-align: center;
  padding: 40px 0 0;
  margin-bottom: 15px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  display: block;
  color: #222;
}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  position: relative;
  padding: 10px 15px;

  font-size: 1em;
  line-height: 1;
  letter-spacing: 3px;
}
.topmenu > li > a:before {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 100%;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, 20px);
  opacity: 0;
  transition: 0.3s;
}
.topmenu li:hover a:before {
  transform: translate(-50%, 0);
  opacity: 1;
}
.submenu {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 100%;
  width: 150px;
  padding: 15px 0 15px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 20px);
  transition: 0.3s;
}
.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
.submenu a {
  font-size: 11px;
  letter-spacing: 1px;
  padding: 5px 10px;
  transition: 0.3s linear;
}
.submenu a:hover {
  background: #e8e8e8;
}

.down:hover {
  color: #ad33ff;
}

.submenu.udemy-business {
  width: 300px;
  padding: 20px;
}

.large-square-button {
  margin-top: 15px;
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

.learning_type li:hover ul {
  width: 220px;
  padding: 10px;
}

.learning_type li ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.learning_type li ul li img {
  width: 50px;
  margin-left: auto;
}

.learning_type li ul li a {
  border-bottom: 1px solid #e9e4e4;
  display: block;
  padding-left: 15px;
}

.learning_type li ul li a:before {
  content: "";

  left: 0;
  width: 100%;
  height: 2px;
  background-color: #e9e4e4;
}
